/server.log
/darkhttp.pid
/update/Goldkarpfen*
/quarantine
/cache
/cache/last_prune/last_prune
/tmp/darkhttpd.pid
/archives/*.tar*
/archives/server.dat
/archives/share/*
!/archives/share/ITP-DEFINITION
!/archives/share/GET_PREMIUM.TXT
!/archives/share/MORE_ABOUT_GOLDKARPFEN.TXT
!/archives/share/FAQ.TXT
!/archives/share/RELEASE-NOTES.TXT
!/archives/share/gki.sh
!/archives/share/search.cgi
!/archives/share/KNOWN_BUGS.TXT
/plugins/PREMIUM.sh
/sync-from-nodes.pid
/tmp/filtered_server.dat
/tmp/server.dat
/downloads
/itp-files/*.itp*
/.keys
/blacklist.dat
/Goldkarpfen.config
/nodes.dat
/bkp
/tmp
/my-*.sh
/search.dat
/archives/tracker.dat
