/server.log
/darkhttp.pid
/update/Goldkarpfen*
/quarantine
/cache
/cache/last_prune/last_prune
/tmp/darkhttpd.pid
/archives/*.tar*
/archives/server.dat
/archives/share/*
/sync-from-nodes.pid
/tmp/filtered_server.dat
/tmp/server.dat
/downloads
/itp-files/*.itp*
/.keys
/blacklist.dat
/Goldkarpfen.config
/nodes.dat
/bkp
/tmp
/my-*.sh
/search.dat
